footer button, footer a, footer li, footer li i {
    border: none;
    font-size: 14px;
    color: #fff;
    background: none;
    text-decoration: none;
    padding: 0;
    margin-left: 0;
    font-style: normal;
}

footer {
    padding-bottom: 20px;
}

.Footer {
    background: #000;
    color: #fff;
    padding: 20px;
}

footer i.fa-brands, footer .copy {
    color: #000;
    font-size: 20px;
}

footer .icons svg{
    color: #000;
    width: 50px;
    height:50px;
}