.shop .slick-dots{
    bottom: 25px;
}
.shop .slider-products .slick-dots{
    bottom: -25px;
}

.shop .slick-dots li button:before{
    font-size: 10px;
}
.shop .categories{
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.shop .categoryName {
    padding: 10px;
}

.shop .categoryName h1 {
    background-image: url('https://placehold.co/600x400/EFEFEF/FFF');
    background-size: cover;
    background-position: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 140px;
    border-radius: 10px;
    text-align: center;
}

.shop .slick-prev:before, .slick-next:before{
    color: #000;
}

.shop .slick-prev, .shop .slick-next{
    z-index: 1;
    width: 36px;
    height: 36px;
}

.shop .slick-prev:before, .shop .slick-next:before{
    font-size: 36px;
}

.shop .slick-next{
    right: -6px;
}

.shop .slick-prev{
    left: -6px;
}

.productCard {
    padding: 20px;
    border: none;
}

.productCard h4 {
    height: 58px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCard .card-text:not(.price) {
    height: 70px;
    overflow: hidden;
}

.page-header{
    background-color: #e0e0e0;
}